.top_black_bar{
    .myAccount{
        padding: 0%;
    }
    .login_register{
        padding: 0% 1% 0% 0% ;
        margin: 0% 1% 0% 1%;
    }
    .getFree{
        padding: 0%;
    }
    background: black;
    color: rgb(124, 122, 122);
    font-size: small;
    font-weight: 500;
    padding: 1% 0% 1% 0%;
    
    .selectCurrency{
        background: black;
        color:rgb(124, 122, 122) ;
        text-decoration: none;
    }
}
.titleBar{
    .categories{
        font-size: medium;
        color: crimson;
        padding: 0% 2%;
        position: relative;
    }
    .categories:hover{
        color: rgb(65, 3, 15);
        font-size: medium;
        padding: 0% 2%;
        position: relative;
        .dropDown{
            display: block;
            position: absolute;
            background-color: white;
            width: 500px;
            z-index: 1;

            .dropDown_list_container{
                float: left;
            }

            .dropDown_list{
                list-style-type: none;
                }
        }
        .titleBarImages_container{
            float: right;
        }
        .titleBarImages{
            width: 250px;
            height: 300px;
        }
    }
    .dropDown{
        display: none;
        position: absolute;
    }
  
    .icon{
        font-size: x-large;
        color: crimson;
        margin: 0% 8px;
    }
}