<!-- fontAwsome CDN LINK Below -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.css">
    <link rel="stylesheet" href="">

<div class="container-fluid">
    
<div class="top_black_bar row">
    <div class="getFree col-sm-4 ">GET FREE! SHIPPING ON WORLDWIDE</div>
    <div class=" col-sm-5"></div>
    <div class="login_register col-sm-1">LOGIN/REGISTER</div>
    <div class="myAccount col-sm-1">MY ACCOUNT</div>
    <div class="currency ">
        <select class="selectCurrency" name="currency" id="currency">
            <option value="USD">USD</option>
            <option value="ERU">ERU</option>
        </select>
    </div>
</div>
<div class="titleBar row">
    <mat-toolbar>
    <mat-toolbar>
        <mat-toolbar class="col-sm-4">WebApp</mat-toolbar>
        <span class="categories">Home
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
        <span class="categories">Men
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
        <span class="categories">Women
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
        <span class="categories">Featured
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
        <span class="categories">Offers
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
        <span class="categories">Accessories
            <div class="dropDown">
                <div class="dropDown_list_container">
                    <ul class="dropDown_list" >
                        <li>ygydy</li>
                        <li>vhbdhsbdj</li>
                        <li>bhsbhjsbhb</li>
                    </ul>
                </div>
                <div class="titleBarImages_container" >
                    <img class="titleBarImages" src="https://images.pexels.com/photos/3905905/pexels-photo-3905905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="">
                </div>
            </div>
        </span>
    </mat-toolbar>
    <mat-toolbar class="col-sm-2">
        <span><i class="icon fas fa-search"></i></span>
        <span><i class=" icon far fa-heart"></i></span>
        <span><i class=" icon fas fa-shopping-bag"></i></span>
        <span><i class=" icon fas fa-align-justify"></i></span>
    </mat-toolbar>
</mat-toolbar>
</div>
</div>























