<div class="container-fluid">
    <div class="footer-logo-container">
        <div class="footer-logo-image">
            <div class="image">THE LOGO</div>
            <div class="company-quote">“Successful  people are always looking for opportunities to help others. Unsuccessful people are always asking, ‘What’s in it for me?‘” – Brian Tracy, Author and Motivational Speaker</div>
        </div>
    </div>
    <div class="footer-content row">
        <div class="left-footer">
            <div class="col-sm-3 ">
                <ul>
                    <li>Find us </li>
                    <li>345,Tirupati Nagar,Saptarshi Tower</li>
                    <li>Near Kalkaji Metro,Delhi</li>
                    <li>Pin-800023</li>
                    <li>Ph- 9823456453</li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="right-footer">
            <div class="col-sm-3"></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<!-- <mat-grid-tile-footer class="footer_container_main">
    <mat-grid-list class="footer_container" cols="2">
        <mat-grid-tile>
            
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</mat-grid-tile-footer> -->
